:root {
  --main-color: #1abc9c;
  --dark-color: #333;
  --light-color: #f4f4f4;
}

.tab {
  width: 600px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.tab-nav {
  display: flex;
  background-color: var(--dark-color);
}

.tab-nav-item {
  flex-grow: 1;
  text-align: center;
  padding: 15px 20px;
  background-color: var(--dark-color);
  color: var(--light-color);
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tab-nav-item:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.tab-nav-item.is-active {
  background-color: var(--main-color);
}

.tab-contents {
  border: none;
  padding: 30px;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.tab-contents-item {
  display: none;
}
